<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/header%>
  <link href="/bootstrap/css/about.css" rel="stylesheet">
	</head>
	<body>
        <% include partials/nav%>
        
        <div class="main">
        
        <div class="title">
            <h1>Meet the Crew</h1>
            <p>QuikRent is a web-based service that allows you to find homes to rent quickly and efficiently. Taking advantage of Slack’s bot functionalities, QuikRent creates unique bots for users that will notify you whenever there is a CraigsList listing that falls within your search parameters.
            </p>
            <p>This website was created as a demonstration of Agile Development utilizing the MEAN stack in the Web Programming class in the Computer Science Department of Mills College, spring 2017. 
            </p>
            <p>
            You can find our repository 
                <a href="https://github.com/susanafotu/QuikRent-Frontend">here</a>
                .
            </p>
        </div>
            
        <div class="profile">
            
            <div class="outer">
                <h1>
                    <img src="/images/ruellia.jpeg" width="150" />
                    Ruellia Zhang, EC2 Guru
                    <p><a href ="https://github.com/ruellia">GitHub</a></p> 
                    <p>Ruellia is a graduating senior at Mills College.</p>
                    <br style="clear: both;" /> 
                </h1>
            </div>
            
            <div class="outer">
                <h1>
                    <img src="/images/Deana Baby2.jpg" width="150" />
                    Deana Bui, Frontend Ranger
                    <p><a href ="https://github.com/deanabui">GitHub</a></p>
                    <p> Deana is a junior at Mills College.</p>
                    <br style="clear: both;" /> 
                </h1>
            </div>
            
            <div class="outer">
                <h1>
                    <img src="/images/susana.jpeg" width="150" />
                    Susana Fotu, Team Success Crusader
                    <p><a href ="https://github.com/susanafotu">GitHub</a></p>
                    <p> Susana is a graduating master's student at Mills College.</p>
                    <br style="clear: both;" />
                </h1>
            </div>
            
            <div class="outer">
                <h1>
                    <img src="/images/vera.jpeg" width="150" />
                    Vera Williams, Backbonista
                    <p><a href ="https://github.com/verr4115">GitHub</a></p>
                    <p> Vera is a junior at Mills College.</p>
                    <br style="clear: both;" /> 
                </h1>
            </div>
            
            <div class="outer">
                <h1>
                    <img src="/images/sam.jpeg" width="150"/>
                    Sam Ruben, Resident Baller
                    <p> Sam is a certificate student at Mills College.</p>
                    <br style="clear: both;" />
                </h1>
            </div>
        </div>
        </div>
	</body>
</html>