<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/header%>
  <link href="/bootstrap/css/about.css" rel="stylesheet">
	</head>
	<body>
        <% include partials/nav%>
        
        <div class="main" style="height:100%; width:100%; padding: 2em 1em;">
        
        <div class="title">
            <h1>Meet the Crew</h1>
            <p>Quikrent is a collaborative project done by five students at Mills College in 2017 for the Web Programming class. 
            </p>
        </div>
            
        <div class="profile">
            
            <div class="outer">
                <h1>
                    <img src="/images/ruellia.jpeg" width="150" />
                    Ruellia Zhang, EC2 Guru
                    <p> Ruellia is a graduating senior at Mills College.</p>
                    <br style="clear: both;" /> 
                </h1>
            </div>
            
            <div class="outer">
                <h1>
                    <img src="/images/Deana Baby2.jpg" width="150" />
                    Deana Bui, Frontend Ranger
                    <p> Deana is a junior at Mills College.</p>
                    <br style="clear: both;" /> 
                </h1>
            </div>
            
            <div class="outer">
                <h1>
                    <img src="/images/susana.jpeg" width="150" />
                    Susana Fotu, Team Success Crusader
                    <p> Susana is a graduating master's student at Mills College.</p>
                    <br style="clear: both;" />
                </h1>
            </div>
            
            <div class="outer">
                <h1>
                    <img src="/images/vera.jpeg" width="150" />
                    Vera Williams, Backbonista
                    <p> Vera is a junior at Mills College.</p>
                    <br style="clear: both;" /> 
                </h1>
            </div>
            
            <div class="outer">
                <h1>
                    <img src="/images/sam.jpeg" width="150"/>
                    Sam Ruben, Resident Baller
                    <p> Sam is a certificate student at Mills College.</p>
                    <br style="clear: both;" />
                </h1>
            </div>
        </div>
        </div>
	</body>
</html>