<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/header%>
  <link href="/bootstrap/css/about.css" rel="stylesheet">
	</head>
	<body>
        <% include partials/nav%>
        
        
  <form id="account" action="" method="post">
    
    <div class="container-fluid" id="main">
      <div style="float"><h1>Meet the Crew</h1></div>
        <div class="row" style="text-align:center">
            <div class="col-xs-6">
                <img src="/images/ruellia.jpeg" alt="Ruellia" width="200px" height="200px" style="border-radius: 50%">
                <p>Ruellia Zhang<br/>
                    EC2 Guru
                </p>
            </div>
            <div class="col-xs-6">
                <img src="/images/Deana Baby2.jpg" alt="Deana" width="200px" height="200px" style="border-radius: 50%">
                <p>Deana Bui<br/>
                    Mighty Morphin' Frontend Ranger
                </p>
            </div>
        </div>
        <div class="row" style="text-align:center">
            <img src="/images/susana.jpeg" alt="Susana" width="200px" height="200px" style="border-radius: 50%">    
            <p>Susana Fotu<br/>
                Team Success Crusader
            </p>
        </div>
        <div class="row" style="text-align:center">
            <div class="col-xs-6">
                <img src="/images/vera.jpeg" alt="Vera" width="200px" height="200px" style="border-radius: 50%">
                <p>Vera Williams<br/>
                    Backbonista
                </p>
            </div>
            <div class="col-xs-6">
                <img src="/images/sam.jpeg" alt="Sam" width="200px" height="200px" style="border-radius: 50%">
                <p>Sam Ruben<br/>
                    Resident Baller
                </p>
            </div>
        </div>
        
    </div>
  </form>
	</body>
</html>