<!DOCTYPE html>

<html lang="en">
	<head>
		<% include partials/header%>
  <link href="/bootstrap/css/account.css" rel="stylesheet">
	</head>
	<body>
        <% include partials/nav%>
        
        
  <form id="account" action="" method="post">
    <h3>Account Information</h3>
    <div class="container-fluid" style="text-align:center" id="main">
            <img src="/images/anonprofile.png" alt="Profile Pic" width="200px" height="200px" style="padding-bottom: 10px">
            <fieldset>
                <input placeholder="Jane Doe" type="text" tabindex="1" required autofocus readonly>
            </fieldset>
            <fieldset>
                <input placeholder="janedoe@quikrent" type="email" tabindex="2" required readonly>
            </fieldset>
            <fieldset>
                <input placeholder="••••••••••" type="password" tabindex="2" required readonly>
            </fieldset>
            <!--<fieldset>-->
                <!--  <input placeholder="Confirm Password" type="password_confirm" tabindex="2" required readonly>-->
            <!--</fieldset>  -->
            <fieldset>
                <input placeholder="888-867-5309" type="tel" tabindex="3" required readonly>
            </fieldset>
            <!--<fieldset>-->
                <!--  <button name="save" type="save" id="account-save" data-save="...Sending">Save</button>-->
            <!--</fieldset>-->
        <fieldset>
            <button name="edit" type="edit" id="account-edit" data-edit="...Sending">Edit</button>
        </fieldset>
    </div>
  </form>
	</body>
</html>