<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/header%>
        <link href="/bootstrap/css/faq.css" rel="stylesheet">
	</head>
    
	<body>
        <% include partials/nav%>
        <div class="main">
            <div class="faq">
                <h1>FAQ and Slack Tokens</h1>
                <h2>What is a slack token? And why do you need one?</h2>
        
                <p>To find you homes to rent quickly and efficiently, Quikrent takes advantage of 
                    <a href ="https://www.wired.com/2015/08/slack-overrun-bots-friendly-wonderful-bots/"> bots, </a>
                    friendly automated pieces of software that scour the internet to find listings for you
                    <br/>
                    <br/>
                    Quikrent utilizes 
                    <a href ="https://slack.com/"> Slack, </a> 
                    a popular messaging platform, to bring these bots to life. Slack allows you to communicate with others and create teams with other users. It also organizes your conversations into channels and works across all devices!
                    <br/>
                    <br/>
                    You're probably still wondering why we mentioned Slack tokens. To communicate and send
                    listings directly to you, our bots need to know where to send their messages! Slack tokens provide a unique identifier for your conversations in Slack, so either you or you and your friends can receive timely updates and personalized listings from your own bot
        </p>
        <h2>How to get your slack token</h2>
        <h2>Step 1</h2>
        <p>If you haven’t already, visit slack.com and enter your email to create an account.
            <br/>
            <br/>
            <img src="/images/step1.png"/>
        </p>
        <h2>Step 2</h2>
        <p>Sign into your existing or newly created account with your team URL.
            <br/>
            <br/>
            <img src="/images/step2.png"/>
            <br/>
            <br/>
            A second page will appear. Enter your individual email address and password for your Slack account.
            <br/>
            <br/>
            <img src="/images/step2.2.png"/>
        </p>
        <h2>Step 3</h2>
        <p>
            Once you are logged in, navigate to <a href="https://api.slack.com/customintegrations/legacy-tokens"> this page.</a> 
            Where it says “Legacy Token generator”, click the “Create token” button. You should see a new listing for a token associated with your Team and User name, and with its very own Token code under Token. You will forward this code to activate your automatic listing updates on QuikRent.
            <br/>
            <br/>
            <img src="/images/step3.png"/>
        </p>
        </div>
</div>
    </body>
</html>