<!DOCTYPE html>
<html lang="en">
    <head>
        <title>QuikRent</title>
        <!-- bootstrap --> 
        
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
        <script src="/javascripts/angular.app.js"></script>
        
        <link href="/bootstrap/css/styles.css" rel="stylesheet">
        <link href="/bootstrap/css/index.css" rel="stylesheet">
        
<!--        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>-->
        
    </head>
    
	<body>
<!-- begin template -->
  <% include partials/nav%>
  <div class="container-fluid" id="main">
  	<div class="col-xs-6">
      <form id="search" ng-controller="searchCtrl"> <!--method="post"-->
        <fieldset>
          <legend id="legend">Search for your next home</legend>
            <b>What are you looking for?</b>
          <select id="craigslist_housing_section" ng-model="searchCred.craigslist_housing_section">
            <option value="apa">Apartments/Housing</option>
            <option value="swp">Housing Swap</option>
            <option value="hsw">Housing Wanted</option>
            <option value="off">Office & Commercial</option>
            <option value="rea">Real Estate</option>
            <option value="roo">Room & Shares</option>
            <option value="sub">Sublets & Temporary</option>
          </select><br>
            <b>Select your region:</b> 
          <select name="site" id="site" editable="true" ng-model="searchCred.craigslist_site">
            <option value="bakersfield">Bakersfield</option>
            <option value="chico">Chico</option>
            <option value="fresno">Fresno/Madera</option>
            <option value="goldcountry">Gold Country</option>
            <option value="hanford">Hanford-Corcoran</option>
            <option value="humboldt">Humboldt</option>
            <option value="imperial">Imperial County</option>
            <option value="inlandempire">Inland Empire</option>
            <option value="losangeles">Los Angeles</option>
            <option value="mendocino">Mendocino</option>
            <option value="merced">Merced</option>
            <option value="modesto">Modesto</option>
            <option value="monterey">Monterey Bay</option>
            <option value="orangecounty">Orange County</option>
            <option value="palmsprings">Palm Springs</option>
            <option value="redding">Redding</option>
            <option value="sacramento">Sacramento</option>
            <option value="sandiego">San Diego</option>
            <option value="sfbay">San Francisco Bay Area</option>
            <option value="slo">San Luis Obispo</option>
            <option value="santabarbara">Santa Barbara</option>
            <option value="santamaria">Santa Maria</option>
            <option value="siskiyou">Siskiyou County</option>
            <option value="stockton">Stockton</option>
            <option value="susanville">Susanville</option>
            <option value="ventura">Ventury County</option>
            <option value="visalia">Visalia-Tulare</option>
            <option value="yubasutter">Yuba-Sutter</option>
          </select><br>
          <div id="LA" ng-model="searchCred.areas" ng-show="searchCred.craigslist_site=='losangeles'">
              <b>Select your areas:</b><br>
              <input type="checkbox" value="wst"> Westside-Southbay-310<br>
              <input type="checkbox" value="sfv"> San Fernando Valley<br>
              <input type="checkbox" value="lac"> Central LA (213/323)<br>
              <input type="checkbox" value="sgv"> San Gabriel Valley<br>
              <input type="checkbox" value="lgb"> Long Beach/562<br>
              <input type="checkbox" value="ant"> Antelope Valley<br>
          </div>
          <div id="SD" ng-model="searchCred.areas" ng-show="searchCred.craigslist_site=='sandiego'">
              <b>Select your areas:</b><br>
              <input type="checkbox" value="csd"> City of San Diego<br>
              <input type="checkbox" value="nsd"> North San Diego County<br>
              <input type="checkbox" value="esd"> East San Diego County<br>
              <input type="checkbox" value="ssd"> South San Diego County<br>
          </div>
          <div id="SF" ng-model="searchCred.areas" ng-show="searchCred.craigslist_site=='sfbay'">
              <b>Select your areas:</b><br>
              <input type="checkbox" value="sfc"> City of San Francisco<br>
              <input type="checkbox" value="sby"> South Bay Area<br>
              <input type="checkbox" value="eby"> East Bay Area<br>
              <input type="checkbox" value="pen"> Peninsula<br>
              <input type="checkbox" value="nby"> North Bay/Marin<br>
              <input type="checkbox" value="scz"> Santa Cruz County<br>
          </div>
            <b>Neighborhoods (comma separated):</b>
            <input type="text" placeholder="Neighbhorhoods" ng-model="searchCred.neighborhoods"><br>
            <b>Price Range:</b><br> <input placeholder="Min" type="number" min="0" tabindex="4" ng-model="searchCred.min_price" required/>  <input placeholder="Max" type="number" min="0" tabindex="4" ng-model="searchCred.max_price" required/><br>
            <br>
            <b>Bedrooms:</b> <input placeholder="" type="number" min="0" tabindex="4" ng-model="searchCred.bed" required/><br>
            <b>Bathrooms:</b><input placeholder="" type="number" min="0" tabindex="4" ng-model="searchCred.bath" required/><br>
            <b>Kilometers from public transit:</b> <input placeholder="" type="number" min="0" tabindex="4" ng-model="searchCred.max_transit_distance" required/><br>
            <b>Your <a href="/faq">Slack Token</a>:</b> <input placeholder="Slack Token" type="text" ng-model="searchCred.slack_token" required/>
        </fieldset>
          
        <fieldset>
            <button name="search-submit" type="submit" id="search-submit" ng-hide="logInStatus" href="/#/register" disabled>Register to begin searching</button>
            <button name="search-submit" type="submit" id="search-submit" ng-show="logInStatus" ng-click="onSearchSubmit()">Search</button>
        </fieldset>
      </form>
    </div> <!-- col-xs-3 -->
    <div id="map">
      <ng-map style="height:175%;" zoom="11" center="[37.793688, -122.383304]">
      </ng-map>  
    </div>
  </div> 
<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<!--        <script src="/javascripts/dropdown.js"></script>-->
		<script src="/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>