<!DOCTYPE html>
<html lang="en">
	<head>
    <% include partials/header%>
    <link href="/bootstrap/css/index.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3QMrDnbwoXTmNLW0xNOHHCLNjI54CKdQ&libraries=drawing&callback=initMap" defer></script>
	</head>
	<body>
<!-- begin template -->
  <% include partials/nav%>
  <div class="container-fluid" id="main">
  	<div class="col-xs-3">
      <form id="search" action="" > <!--method="post"-->
        <h3>Search for your next home</h3>
        <fieldset>
          <input placeholder="State" type="text"  id="regforminput" required>
        </fieldset>
        <fieldset>
          <input placeholder="Area" type="text" id="regforminput" required>
        </fieldset>  
        <fieldset>
          <input placeholder="Neighborhood" type="text"  id="regforminput" required>
        </fieldset>
        <fieldset>
          <input placeholder="Min Price" type="number"  id="regforminput" required>
        </fieldset>
        <fieldset>
          <input placeholder="Max Price" type="number"  id="regforminput" required>
        </fieldset>
        <fieldset>
          <input placeholder="Bedrooms" type="number"  id="regforminput" required>
        </fieldset>
        <fieldset>
          <input placeholder="Bathrooms" type="number"  id="regforminput" required>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" id="search-submit" data-submit="...Sending" disabled>Try It Now</button>
        </fieldset>
      </form>
    </div> <!-- col-xs-3 -->
  <div id="map"></div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 37.804018, lng: -122.32252},
          zoom: 10
        });
          
        var drawingManager = new google.maps.drawing.DrawingManager({
          drawingMode: google.maps.drawing.OverlayType.MARKER,
          drawingControl: true,
          drawingControlOptions: {
            position: google.maps.ControlPosition.TOP_CENTER,
            drawingModes: ['marker', 'polygon', 'rectangle']
          },
          // i don't like the beach flag, but we can leave it for now
          markerOptions: {icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'},
          polygonOptions:{
              strokeColor: '#837ece',
              strokeOpacity: 0.8,
              strokeWeight: 2,
              fillColor: '#cea97e',
              fillOpacity: 0.35,
              draggable: true,
              editable: true,
              geodesic: true
          }, 
          rectangleOptions:{
              strokeColor: '#837ece',
              strokeOpacity: 0.8,
              strokeWeight: 2,
              fillColor: '#cea97e',
              fillOpacity: 0.35,
              draggable: true,
              editable: true,
              geodesic: true
          }
        });
        drawingManager.setMap(map);
      }
    </script>
  </div> <!--map-->
</div> <!--container-fluid-->
<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>