<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/header%>
        <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3QMrDnbwoXTmNLW0xNOHHCLNjI54CKdQ&libraries=drawing&callback=initMap"
         async defer></script>
	</head>
	<body>
<!-- begin template -->
<% include partials/nav%>

<div id="map-canvas"></div>
<div class="container-fluid" id="main">
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  
  <p style="text-align:center;">
    <font face="Oswald" size="20" color="darkgray">QuikRênt</font>
  </p>
  <hr>
  <div class="row">
  	<div class="col-xs-4" id="left">
  	  
      <p>
  	    <font size="4" color="black" text-align="center">Short blurb about quikrent?</font>
      </p>
    
      <!-- /item list -->
      <p>Get instant notificatons of the house you want, when you want!</p>
      
      <!-- /button to login/signup page -->  
      <p>
        <a href="http://bootply.com" target="_ext" class="center-block btn btn-primary">Try It Now</a>
      </p>
        

    </div>
    <div class="col-xs-8">
        <!--map-canvas will be postioned here-->
        <br>
<div id="map"></div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 37.804018, lng: -122.32252},
          zoom: 10
        });
          

        var drawingManager = new google.maps.drawing.DrawingManager({
          drawingMode: google.maps.drawing.OverlayType.MARKER,
          drawingControl: true,
          drawingControlOptions: {
            position: google.maps.ControlPosition.TOP_CENTER,
            drawingModes: ['marker', 'polygon', 'rectangle']
          },
          // i don't like the beach flag, but we can leave it for now
          markerOptions: {icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'},
          polygonOptions:{
              strokeColor: '#168ccc',
              strokeOpacity: 0.8,
              strokeWeight: 2,
              fillColor: '#168ccc',
              fillOpacity: 0.35,
              draggable: true,
              editable: true,
              geodesic: true
          }, 
          rectangleOptions:{
              strokeColor: '#168ccc',
              strokeOpacity: 0.8,
              strokeWeight: 2,
              fillColor: '#168ccc',
              fillOpacity: 0.35,
              draggable: true,
              editable: true,
              geodesic: true
          }
        });
        drawingManager.setMap(map);
      }
    </script>
      </div>
    
  </div>
</div>
<!-- end template -->
	</body>
</html>