<!DOCTYPE html>
<html ng-app="quikRent">
    <head>
      <% include partials/header%>
    </head>
    
	<body>
<!-- begin template -->
  <% include partials/nav%>
        
  <div ng-view></div>
             
<!-- script references -->
        
        
        
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="/javascripts/dropdown.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>