extends layout
block content
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Logo
        #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='#') Home
          li
            a(href='#') About
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#')
              span.glyphicon.glyphicon-log-in
              |  Login
  .container-fluid.text-center
    .row.content
      .col-sm-4.sidenav
        p Search stuff
        p
          a(href='#') Link
        p
          a(href='#') Link
      .col-sm-8.text-left
        #map
        h1 Welcome
        p
          | This is where I'm thinking of putting the Google Map. We can swith it though, if you'd like. 
        hr
        h3 Test
        p Lorem ipsum...
        .col-sm-2.sidenav
          .well
            p ADS
          .well
            p ADS
    footer.container-fluid.text-center
      p.text-center
        span.glyphicon.glyphicon-check
        |  Quikrent
