<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/header%>

  <link href="/bootstrap/css/register.css" rel="stylesheet">
	</head>
	<body>
        <% include partials/nav%>
  <form id="contact" action="" method="post">
    <h3>Signup for QuikRent!</h3>
    <fieldset>
      <input placeholder="Your Name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="text" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Password" type="password" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Confirm Password" type="password_confirm" tabindex="2" required>
    </fieldset>  
    <fieldset>
      <input placeholder="Your Phone Number (optional)" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Register</button>
    </fieldset>
  </form>
	</body>
</html>